body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal__wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0, .2);
  backdrop-filter: blur(10px);
}
 .modal__wrapper.open {
height: 100%;
display: block;
}

.modal__wrapper.close{
  height: 0;
  display: none;
}
 .modal__body{
  max-width: 500px;
  margin: auto;
  /* background: white; */
  margin-top: 5%;
  padding: 20px;
  border-radius: 10px;
  max-height: 100%;
  overflow-y: scroll;

}
.modal__body::-webkit-scrollbar{
  width:0;
  background: transparent;
}
.modal__body{
  -ms-text-overflow-style: none;
  scrollbar-width: none;
}
.modal__close{
text-align: right;
color: grey;
cursor: pointer;
} 
.modal__body h2{
  text-align: left;
  width: 100%;
  margin: 0;
  color: grey;
  pointer-events: all;
}

button{
  padding: 7px;
  margin: 15px;
  border-radius: 4px;
  border-style: none;
}

button:hover{
  background-color: grey; 
  color: #61dafb;
}
.button-container{
  display: flex;
  justify-content: center;
}
