@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.page-style {
    background: url(../img/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100%;
    font-family: "Ubuntu", sans-serif;
}

.title {
    background-color: rgba(0, 0, 0, 0.4);
    height: 53px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;

}

.title-left {
    font-family: "Ubuntu", sans-serif; 
    font-weight: Bold;
    text-transform: uppercase;
    text-decoration: none;
    Font-size: 22px;
    color: #ffffff;
    margin-left: 79px;
    margin-right: 22px;
    
}
.title-left :hover {
    color: #01813F;
}
.title-right {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-right: 79px;
    margin-top: 10px;
    
 }
 .title-right-green {
    font-family: "Ubuntu";
    font-style: "Regular";
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    
}

.title-right a:hover {
    color: #01813F;
}
.icon {
    margin-right: 25px;
}
.icon :hover {
    fill: green;
 }
 .words {
    font-family: "Ubuntu", sans-serif; 
    font-size: 14px;
    color: #ffffff;
    margin-right: 7px;
}
 .content{
    width: 324px;
    height: cflc(100vh - 62px);
    margin: 0 auto;
    background-color: #FFFFFF;
    position: relative;
    padding: 30px 60px 38px 40px;
    margin-bottom: 74px;
 }

.title-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    top: 25px;
    left: 0;
    display: inline-block;
}
 
.title-form h1 {
    margin: 0;
    font-size: 20px;
    color: #434343;
    padding-bottom: 5px;
}
.log-in {
    font-size: 14px;
    text-decoration: none;
    color: #3CB878;
}
.log-in:hover {
    font-size: 14px;
    color:  #01813F;
}
.line{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    color: #848484;
}

hr {
    border: none;
    background-color: #F2F2F2;
    color: #F2F2F2;
    height: 2px;
    width: 150px;
}


.button {
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    margin-bottom: 31px;
}


.fb-button {
    width: 160px;
    background: #305DB8;
    color: #FFFFFF;
    padding-right: 20px;
    text-align: right;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
}

.fb-button:hover {
    background: #022263;
    border: none;
}

.line-fb {
    width: 1px;
    height: 28px;
    background-color: #0A162F;
    opacity: 0.1;
    margin: 9px 18px;
}

.google-button {
    width: 160px;
    background: #DF4A32;
    color: #FFFFFF;
    padding-right: 27px;
    text-align: right;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
}


.google-button:hover {
    background: #AB1F09;
}
.line-g {
    width: 1px;
    height: 28px;
    background-color: #2B0D09;
    opacity: 0.1;
    margin: 9px 18px;
}


.group {
    margin: 0 auto;
    color: rgba(190, 190, 190, 1);

}
         
.group input {
    height: 46px;
    width: 304px;
    padding-left: 20px;
    color: #434343;
    font-size: 14px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-bottom: 15px;
    padding-left: 20px;
    font-family: "Ubuntu", sans-serif;
} 
 input {
    border-radius: 4px;
    border: 1px solid;
    color: #BEBEBE;
    margin: 10px;
    padding: 5px;
}
 input:focus {
    border: none; 
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.Agree-box {
    display: flex;
    align-items: center;
}

.Agree {
    margin-left: 8px;
    margin-top: 12px;
    font-size: 14px;
    color: #434343;   
}
.Agree label {
    font-size: 14px;
    padding-left: 8px;
}
.Agree-green {
    color: #3CB878;
}
.Agree-green:hover {
    color: #01813F;
}

.green-botton {
    cursor: pointer;
    padding: 16px 99px;
    color: #FFFFFF;
    font-size: 16px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
}

.green-botton:hover {
    color: #FFFFFF;
    font-size: 16px;
    background: #01813F;
    border-radius: 4px;
    border: none;
}