
body {
	font-family: sans-serif;
	text-align: center;
	display: flex;
	flex-direction: center;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 10px auto !important;
	min-height: 100vh;
}

.open-button {
	border-radius: 100px;
	height: 150px;
	width: 100px;
	font-size: 24px;
	color: #ffffff;
	background: rgb(105, 104, 104);
	border: 2px #353434 solid;
}
button {
	margin: 10px;
}
button:hover {
	background: rgb(184, 184, 184);
	cursor: pointer;
}

button:focus {
	outline: 0;
}
.btn-light {
	background-color:   #4bd6e9!important;
	border: 1px solid rgb(165, 163, 163)!important;
	border-radius: 5px !important;
	margin-top: 10px;
}
.btn-light:hover{
	background-color:   #75e4f3!important;
	border: 1px solid rgba(240, 177, 230, 0.961)!important;	
}
.button-container {
	display: flex;
	min-width: 350px;
	justify-content: space-evenly;
	align-items: center;
	margin: 20px
}
.modal-container {
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.3) ;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
}
.modal-dialog-centered {
	justify-content: center;
}
.modal-content {
	border: none !important;
}
.red {
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	border-radius: 5px;
	line-height: 30px;
	
}
.header-red {
	border: none !important;
	font-weight: bold;
	text-align: left;
}
.btn-danger {
	min-width: 150px;
}
.modal-body {
	padding: 30px;
}
.modal-footer {
	justify-content: center !important;
	border: none !important;
}
ul {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 100%;
	grid-gap: 10px;
}

.card-body {
	display: grid !important;
	grid-template-columns: repeat(1, 2fr);
	justify-items: center;
}

.svg-star {
	text-align: center;
}






