.contacts{
        background-color:$col-background;
        width: 100%;
        padding-top: 38px;
        padding-bottom: 47px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    &__container{
        display: flex;
        align-items: center;
        justify-content: center;  
    }

    &__h2{
       
        text-transform: uppercase;
        font-style:  Bold;
        font-size: 14px;
        line-height: 22px;
        color:$col-text-white;
        margin-bottom: 8px;
    }
    &__p{
        display: block;
        text-align: center;
        justify-content: center; 
        margin: 0 auto;
        font-size: 12px;
        line-height: 20px;
        color: #B9B9B9;

    
    }
    &__icon{
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 6px;
        margin-right: 6px;
        width: 34px;
        height: 34px;
    }
    &__span{
        display: none;
    }
    @media(min-width: 768px){

     
    }
    @media(min-width: 1200px){
    }
}