@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
    width: 1404px;
}
a {
  text-decoration: none; 
  color: #424F57; 
}
.header {
    margin: 0 auto;
    margin-top: 25px;
    height: 113px;
    width: 100%;
    background-color: #fff;
    position:absolute;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}
.header h1 {
    color: #424F57;
    font-size: 36px;

}

.header span {
    color: #14AFCA;
    font-size: 36px; 
    font-weight: bold;
    text-transform: uppercase;
}
.header-background {
    background: url(../img/firstdackground.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 596px;
    position: relative;
}
.header-menu {
    display:flex;
    justify-content:space-around;
    align-items: center;
    
}
.header-menu li{
    margin-left: 50px;
    font-family: Open Sans;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;;
    /* display:flex; */
    /* justify-content:space-between;
    justify-self: justify;  */

}
.header-menu li:hover {
    color: #14AFCA;
}
.we-create {
    text-align: center;
    padding-top: 317px; 
}
.we-create h2 {
    font-size: 52px;
    color: #FFFFFF;  
    /* display: flex;
    align-items: center;
    text-align: center; */
    font-weight: bold;
    text-transform: uppercase;
}