@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
body {
    background: url("../img/background.png");
    height: 768px;
    width: 1366px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    color: #F26522;
}

    
.header-style {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 177px;
    margin-bottom: 20px;

}


.logo {
    margin-left: 167px;
    margin-right: 8px;
    margin-bottom: 26px;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-weight: bold;
    position: relative; 
}

.logo-orange {
    display: flex;
    position: absolute;
    bottom: -500px;
    left: 0;
}
.logo:hover .logo-orange {
    bottom: 0;
    color:  #F26522;
}

.logo-style {
   display: block;
   
}
.logo-style h1 {
    font-size: 29px;
    line-height: 29px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 4px;

}
.style-holidays {
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.logo-style-orange h1{
    font-size: 29px;
    line-height: 29px;
    text-transform: uppercase;
    font-weight: bold;
    color: #F26522;
    padding-top: 4px;
}

.style-holidays-orange {
    color: #F26522;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.Contacts {
    display: block; 
    text-align: right;
}
.Contacts-tel {
    margin-top: 19px;
}

.milan-tours {
    margin-left: 165px;
    margin-right: 178px;
    display: flex;
    justify-content: center;
     
}

.orange-style {
    font-size: 14px;
    color: #ffffff;
    background-color: #F26522;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    position: absolute;
    bottom: -500px;
    transition: .5s ease-in-out;
}

.from {
    padding-top: 7px;
    padding-left: 16px;
}
.price {
    font-size: 20px;
    padding-top: 8px;
    padding-left: 16px;
}

.details {
    padding-left: 10px;
    padding: 29px 37px 0;
    font-size: 14px;
}

.details::after {
    padding-left: 16px;
    content: url(../img/Vector\ 1.png);
}

.tours-place {
    flex: 1 1 auto;
    margin: 0 30px;
    margin-bottom: 60px;
    position: relative;
    overflow: hidden;
}
.tours-place:hover .orange-style {
    bottom: 41px;
}
.tours-place:hover a h3 {
    color:  #F26522;
}
.tours-text {
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.footer-style {
    text-align: center;
    font-size: 12px;
    color: #ffffff;

}
