.card{
    display: grid !important;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
	grid-gap: 10px;  
}

.card-body {
	display: grid;
	grid-template-columns: repeat(1, 2fr) !important;
	justify-items: center;
}
.card-text {
font-size: 17px;
color: rgb(82, 80, 80);
}
