$col-text-black:#4E4E4E;
$col-text-white: #fff;
$col-background: #000000;
$col-blue:#57A4A4;

$font-Family: "Roboto";

$dt: 1200px;
$tb: 768px;
$mb: 320px;

$container: (
    dt: 1200px,
    tb: 768px,
    mb: 370px
);