@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #5B6469;
    overflow-x: hidden;

}
.logo {
    width: 25px;
    height: 25px;
    font-size: 22px;
    font-style: normal;
    color: #ffffff;
    font-weight: bold;
    margin-top: 21px;
    margin-bottom: 22px;
    margin-left: 27px;
    display: flex;
    flex-direction: row;
    row-gap: 25px;
}
.logo a {
    padding-right: 27px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  height: 70px;
 background-color: #313131;
}
.glass-style { 
    border: 1px solid;
    width: 70px;
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-text {
 
    text-transform: uppercase;
    font-size: 15px;
    display: flex;
    height: 70px;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    margin-top: 15px;
    margin-right: 30px;
}
.menu-text a {
    color: #ffffff;
    text-decoration: none;

}
.menu-text a:hover {
    color: #14B9D5;
}
.scroll-menu-style {
    text-transform: uppercase;
    font-size: 17px;
    font-style: bold;
    display: flex;
    height: 70px;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;

}
.scroll-menu-style :hover{
    color:  #14B9D5;
}

.scroll-menu-style a{
    color:  #313131;
    text-decoration: none; 
}

.background {
    background: url("../img/Backcity.jpeg");
    height: 369px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.green-button {
    border-radius: 2px;
    border: none;
    background-color:  #89CA62;
    color: white;
    font-size: 18px;
    font-style: normal;
    width: 170px;
    height: 55px;
    display: inline-block;
    text-align: center;
}
.blue-button {
    border-radius: 2px;
    border: none;
    background-color: #14B9D5;
     color: white;
    font-size: 18px;
    font-style: normal;
    width: 170px;
    height: 55px;
    display: inline-block;
    text-align: center;
    margin-top: 70px;
    margin-left: 30px;
}
.section-bacrgraund {
    background: #F2F2F2;
}
.chapter {
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    color: #18B4CF;
    text-transform: uppercase;
    text-align: center;
    padding-top: 49px;
    padding-bottom: 49px;
}
.chapter:hover{
    color: #75e4d5; 
    font-size: 27px;
}
.toggle-effects {
display: none;

}
.toggle-effects {
    display: block;
    
    }


.most-popular {
    display: flex;
    justify-content: center;
    padding: 0 13px;

}
.popular-item{
flex: 1 1 auto;
margin: 0 13px;
margin-bottom: 60px;

}
.most-popular-title {
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
border: none;
background-color:#ffffff;
width: 370px;
height: 50px;
text-align: center;
padding-top: 15px;
}

.backgraund-clients {
    padding-top: 128px;
    background: url("../img/Backhotel.jpeg");
    height: 590px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.line { 
    width: 60px;
    height: 3px;
    background-color: #18B4CF;
    border: none;
    align-self: flex-end;
    position: relative;
 
}
.logos-conteiner{
    padding-top: 315px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    width: 881px;
    margin: 0 auto;
}

.rated-size img {
    width: 272px;
    height: 190px;
}
.photo-rated {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.title-background {
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
    color: #ffffff;
    text-align: center;
}

.news-container{
    display: grid;
    grid-template: repeat(4, auto) /  repeat(2, auto);
    column-gap: 60px;
    row-gap: 46px;
    justify-content: center;
    margin-bottom: 78px; 
}

.news-top-container{
    display: grid;
    grid-template: auto / auto auto;
    column-gap: 35px;
    grid-column: 1 / 3;
}
.news-bottom-container{
    display: grid;
    grid-template: auto / auto auto;
    column-gap: 35px;
    grid-column: 1 / 3;
}
.news-item-type1{
    width: 554px;
    height: 418px;
    background-color: #F9F7F7;
    text-align: right;
}
.news-item-header{
    font-size: 18px;
    font-weight: 700;
    color: #353A3D;
    margin-top: 12px;
    margin-right: 14px;
}
.news-item-text{
    margin: 15px 14px 0 10px;
    line-height: 21px;
}
.news-item-type2{
    width: 856px;
    height: 259px;
    background-color: #F9F7F7;
    text-align: right;
    display: flex;
}
.news-item-type3{
    width: 277px;
    height: 259px;
    background-color: #F9F7F7;
    text-align: center;
}


.contact-info {
    height: 80px;
   background-color: #000000;
   font-weight: 400;
   color: #ffffff;
    display: grid;
    grid-template: auto / auto auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 367px;
}
.contact-info-imag {
    display: flex;
    align-items: flex-start;
}

#scroll_top {
	display: none;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 1000;
	width: 32px;
	height: 32px;
	background: url(https://snipp.ru/img/scroll_top.png) 50% 50% no-repeat;
	border-radius: 50%;
	opacity: 0.5;
}
#scroll_top:hover {
 	opacity: 1;
}