.main-style {
    font-family: "Montserrat", sans-serif;
    padding-top: 22.5px;
    padding-bottom: 29px;
    margin-right: 0;
    margin-left: 0;
}
a {
    text-decoration: none;
    color: #FF0000;
}
.header {
    padding: 35px;
    margin-left: 175px;
    margin-right: 175px;
   
}
.picture {
    background: url("../image/photo.png");
    height: calc(100vh - 140px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.header-menu li{
    display: inline-block;
    text-transform: uppercase;
    color: #FF0000;
}
.header-menu {
    display: flex;
    justify-content: space-between;
   
}
.chapter {
    padding-top: 48px;
}
.title {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    padding-bottom: 38px;
}
.text {
    text-align: center;
    font-size: 16px;
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 28px;
    letter-spacing: 2.4px;
    line-height: 26px;
}
.text-buttom {
    height: 50px;
    width: 150px;
    border-radius: 4px;
    border: none;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.style-text {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
}
.text-footer {
    font-style: bold;
    font-size: 16px;
    margin-right: 105px;
    letter-spacing: 2.4px;
    text-align: right;
}