
.page {
    color: $col-text-black;
    font-family: "Roboto", sans-serif;
    padding: 0 25px;
    margin: 0 auto;
    max-width: 320px;
    width: 100%;
    box-sizing: border-box; 
    &__img{
    margin-top: 18px;
    height: 150px;
    width: 100%;
    }  
}

.content {
    margin-top: 38px;
    width: 100%;
    &__h2{
    font-size: 14px;
    font-style: bold;
    line-height: 22px;
    margin-bottom: 23px;
    }
    &__posts{
    display:block;
    width: 100%;
    }
    &__img-responsive{
    height: 140px;
    width: 160px;
    }
    &__h4{
    width: 100%;
    font-style: Bold;
    font-size: 14px;
    line-height: 30px ;
    }
    &__p{
    visibility: hidden;
    }
    &__span{
    font-size: 11px;
    line-height: 20px;
    color: #7C7C7C;
    }
}
.instagram-box{

    margin-bottom: 42px;
    &__h4{
    width: 100%;
    font-style: Bold;
    font-size: 16px;
    line-height: 22px ;
    }
    &__p{
    font-size: 14px;
    line-height: 26px ;  
    }
    &__span{
    font-size: 11px;
    line-height: 20px;
    }
    &__img-hide{
    display: none;
    }
}

@media (min-width: 768px){

.page{
    margin: 0 auto;
    max-width: 768px;
    width: 100%;

    &__img{
    margin-top: 18px;
    height: 100%;
}
} 
.content {
    margin-top: 38px;

    &__h2{
    font-size: 16px;
    font-style: bold;
    line-height: 22px;
    margin-bottom: 24px;
    }
    &__posts{
    display: flex;
    gap: 20px;
    margin-top: 5%;
    position: unset;
    width: 100%;
    }
    &__wrapper{
    position: relative;
    padding-top: 20%;
    width: 34%;
    }
    &__img-responsive{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    }
    &__h4{
    width: 100%;
    font-style: Bold;
    font-size: 16px;
    line-height: 30px ;
    }
    &__p{
    visibility: visible;
    color:  #5C5C5C;
    font-size: 14px;
    line-height: 26px ;
    }
    &__span{
    font-size: 12px;
    line-height: 20px;
    color:  #7C7C7C;
    }
    } 
    .foto-container{
    margin: 0 auto;
    height: 408px;
    width: 100%;
    &__h2{
    margin-top: 47px;
    font-size: 16px;
    font-style: bold;
    line-height: 22px;
    margin-bottom: 24px;   
    }
    }
    .instagram-box {
    width: 752px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    &__img{
    display:flex;
    flex-direction: row;
    width: 249px; 
    height: 249px;
    }
    &__img-hide-hide{
    display: none;
    }
    }

    }

    @media (min-width: 1200px){
    .page{
    margin: 0 auto;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    &__img{
    margin-top: 18px;
    height: 100%;
    } 

    }
    .content {
     max-width: 1200px;
     margin: 0 auto;
    &__h2{
    margin: 6% 0  0;
    }
    &__img-responsive{
        width: 100%; 
    }

    }
    .post-wraper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    row-gap: 32px;
    grid-template-rows: repeat (2, 1fr);
    }
    .instagram-box {
    display:flex;
    align-items: center;
    width: 1140px;

    &__img{
    display:flex;
    width: 280px;
    }
    }

    } 





