
.header {
    width: 100%;
    height: 83px;
    // margin-top: 83px;
    background: rgba(0, 0, 0, 0.0001);
    background-size: 400% 400%;
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
    .nav-bar {
    position: fixed;
    background-color: #F5F5F5;
    top: 50px;
    right: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: position 2.9s;
    -webkit-transition: position 2.9s;
    -moz-transition: position 2.9s;
    -ms-transition: position 2.9s;
    -o-transition: position 2.9s;
    }
    .toggle {
    right: 0;
    color: #4E4E4E;
    font-size: 11px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    .line1 {
        background-color: #fff;
        transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
    }
    .line2 {
        display: none;
    }
    .line3 {
        background-color: #fff;
        transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
    }
    .toggle-menu {
        background-color: #000000;
    }
    }
    .toggle-menu {
    background-color: #000000;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2px 2px 2px 3px;
    cursor: pointer;
    }
    .line {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
    -moz-transition: transform 0.5s ease-out;
    -ms-transition: transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out;
    }
    .nav-list {
    list-style: none;
    height: 300px;
    width: 200px;
    background-color: #F5F5F5;
    }
    .nav-list-item {
    text-align: st;
    padding: 10px 10px;
    } 
    .nav-link {
    color: #4E4E4E;
    font-size: 11px;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration: none;
    }
    .nav-link:hover{
        color: #57A4A4;
    }

    @media(min-width: 768px){
    .header {
        margin-top: 83px;
        display: flex;
        // justify-content: space-between;
        max-width: 768px;
        align-items: center;
    }
     .toggle-menu{
         display:none;
     }
     .nav-bar{
         margin: 0 120px;
        position:unset;
        background-color: unset;
        display:block;
     }
     .nav-list{
        height: 100px;
        display: flex;
        color: #4E4E4E;
        justify-content: center;
        align-items: center;
        font-size: 11px;
        width: 100%;
        background-color: unset;
     }
     .nav-list-item{
        display: flex;
        height: 100%;
        align-items: center;
     }


    }
}
@media(min-width: 1200px){
 .header{
    max-width: 1080px;

 }
 .nav-bar{

 }
 .nav-list-item{
    // display: flex;
    // height: 100%;
    // align-items: center;
    // justify-content: center;
 }
}


