@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
* {
    padding: 0;
    margin: 0;
}
body, html {  
    width: 100%;
    height: 100%;
	background: url(../img/picture.png);
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.titlecontent {
    font-family: "Droid Sans", arial, verdana, sans-serif;
    font-weight: 700;
    color: yellow;
    position: absolute;
    top: 100%;
	animation: scroll 100s linear 4s infinite;  
}
@keyframes scroll {
    0% { top: 100%; }
	100% { top: -170%; }
} 
@keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

.titles {
    position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);
}
.titles:after {
    position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none
}
.titles p {
    text-align: justify;
	margin: 0.8em 0;
}
.titles p.center {
    text-align: center;
}


