@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: black;
}
body {
    width: 1280px;
    margin: 0 auto;
    font-family:  "Roboto", sans-serif;
    padding-bottom: 20px;
}

.header {
    margin-top: 60px;
    
}
.logo {
    font-size: 80px;
    
}
.color-logo {
    color: #4bcaff;
}
.header-menu li {
    border-left: 1px solid;
    padding-top: 10px;
    padding-left: 40px;
    background-color: #35444F;
    color: #ffffff;
}

.header-menu {
    font-family: "Roboto", sans-serif;
    height: 50px;
    margin-top: 38px; 
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #35444F;
}
.header-menu a:visited {
    color: #ffffff;
    text-decoration: none;
    background-color: #35444F;
}

.header-menu a:hover{
 background: #222F3A;
 padding: 10px 15px;
}
.main-info{
    padding-top: 30px;
    padding-bottom: 50px;
}

.left-menu {
    float: left;
    border: 1px solid;
    font-size: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.left-menu li a {
    padding: 20px 40px;
    display: block;
}
.left-menu a:hover {
    background-color: #DBDBDB;
    padding-left: 60px;

}

.picture{
    border: 1px solid;
    width: 880px;
    height: 529px;
    color: #000000 0,01%;
    margin-bottom: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.picture :hover {
    -webkit-transmition: scale(1,1);
    transform: scale(1.1);
    -ms-transform: scale(1.1);

}
.content{
    padding-bottom: 50px;
    margin-right: 98px;
    margin-left: 400px; 
}
.container-service {
    width: 550px;
    padding-left: 0px;
    justify-self: start;
}
.text {
    font-family:  "Roboto", sans-serif;
    font-size: 18px;
    line-height: 28px;
}

.contacts{
    background-color: rgba(99, 105, 110, 0.48);
    font-size: 24px;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.contacts-menu {
    display: inline-table;
    align-items: baseline;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contacts-menu a:visited {
    color: black;
    text-decoration: none;
}
.contacts-menu a:hover {
    color:   #4bcaff;
    text-decoration: underline;
}
.copyright {
    margin-top: 10px;
    font-size: 24px;
    color:  #0C1927;
    }