
body {
	font-family: sans-serif;
	text-align: center;
	display: flex;
	flex-direction: center;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 10px auto !important;
	min-height: 100vh;
}

.open-button {
	border-radius: 100px;
	height: 150px;
	width: 100px;
	font-size: 24px;
	color: #ffffff;
	background: rgb(105, 104, 104);
	border: 2px #353434 solid;
}
button {
	margin: 10px;
	border-radius: 3px;

}
button:hover {
	background: rgb(184, 184, 184);
	cursor: pointer;
	border-radius: 3px;
	
}

button:focus {
	outline: 0;
}


.btn{
	margin-top: 12px;
	border-radius: 3px;
}

.button-container {
	display: flex;
	min-width: 350px;
	justify-content: space-evenly;
	align-items: center;
	margin: 20px
}
.modal-container {
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.3) ;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
}
.modal-dialog-centered {
	justify-content: center;
}
.modal-content {
	width: 450px;
	height: 250px;
	border: none !important;
}
.modal-buttons{
	display: flex;
	gap: 70px;
}

.red {
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	border-radius: 5px;
	line-height: 30px;
	
}
.header-red {
	border: none !important;
	font-weight: bold;
	text-align: left;
}
.btn-danger {
	min-width: 150px;
}
.modal-header{
	text-align: center;
}
.modal-body {
	text-align: center;
	margin-top: 25px;
	font-size: 18px;
}
.modal-footer {
	justify-content: center !important;
	border: none !important;
}
.svg-star {
	text-align: center;
}

