@import "globals/vars";
@import "globals/mixins";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 10px;
}

img{
  // height: 100%;
  width: 100%;
}


@import "header/header";
@import "page/page";
@import "footer/footer";

